polkit.addRule(function(action, subject) {
    if (action.id == "com.github.nvprime" && subject.isInGroup("gamemode")) {
        return polkit.Result.YES;
    }
});
