<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE policyconfig PUBLIC
    "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>The quick brown fox jumps over the lazy dog</vendor>
  <vendor_url>https://github.com/delfianto/nvprime</vendor_url>

  <action id="com.github.nvprime">
    <description>Minimalist NVIDIA PRIME render offload wrapper</description>
    <message>Privileged access for nvprime-sys daemon</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/nvprime-sys</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
